body{
    margin:0;
    font-family:Arial,sans-serif;
}

header{
    background:#1f2937;
    color:white;
    text-align:center;
    padding:20px;
}

.hero{
    text-align:center;
    padding:60px;
}

nav{
    margin-top:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
}
